@import './../../styles/contants.scss';
.name {
    /* Existing styles */
    cursor: pointer;
  }
.wrapper {
    position: relative;
    z-index: 99;
    opacity: 1;
    transform: none;
    position: sticky;
    top: 0px;
    
    transition: all 300ms ease;

    .container {
        color: black;
        position: relative;
        justify-content: space-between;
        font-weight: 500;

        .name {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .menu {

            @media (max-width: $sm),
            (max-width: $md) {
                position: absolute;
                list-style: none;
                gap: 2rem;
                font-weight: 500;
                flex-direction: column;
                right: 0;
                top: 3rem;
                height: calc(100vh - 6.3rem);
                width: 50%;
                min-width: 15rem;
                background: white;
                padding: 2rem;
                display: flex;
                border-radius: 10px;
                transition: all 200ms ease;
                align-items: flex-start;
                padding: 3rem;
                justify-content: flex-start;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
            }

            text-transform: uppercase;
            font-size: 1rem;
            list-style: none;
            gap: 1.5rem;
            cursor: pointer;

            li {
                a {
                    color: inherit;
                    text-decoration: none;
                }

                &:hover {
                    color: $secondary;
                }
            }

            .button {
                background-color: #ceff5a; /* Button background color */
                color: white;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                text-transform: uppercase;

                &:hover {
                    background-color: #FF3F8C; /* Darker shade on hover */
                }

                svg {
                    color: white; /* Ensure icons are white */
                }
            }
        }

        .menuIcon {

            @media (max-width: $sm),
            (max-width: $md) {
                display: block;
            }

            display: none;
        }
    }
}
